*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffd8d8;
}
.search-section{
    /* display:flex; */
    width: auto;
    margin: auto;
    padding: 0% 10%;
}
.result-section{
    display: flex;
    padding: 2%;
    flex-direction: column;
    
}
.result-section .result-movies{
    width: 100%;
    background-color:  #EEE;
    padding: 1%;
    min-height: 200px;
    border-radius: 20px;
    border-left: 2px;
    border-color: #e16868;
    border-style: solid
}
.result-section .result-movies-head{
    text-align: center;
}

.break-line{
    margin: auto;
    width: 90%;
    height: 4px;
    background-color:  #e16868;
    border-radius: 10px;
}
.result-section .result-books-head{
    text-align: center;
}

.result-section .result-books{
    width: 100%;
    background-color:  #EEE;
    padding: 1%;
    min-height: 200px;
    border-radius: 20px;
    border-left: 2px;
    border-color: #e16868;
    border-style: solid
}
.star-color{
    color: rgb(255, 187, 0);
}

/* Search section */
.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.search-section .search
{
    padding: 1%;
    margin: 5% auto 2% auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 7px #ffffffeb;
}


.search-input[type="text"]
{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1%;
}

.search-input[type="text"]::placeholder
{
    color: #e16868;
}

.s-search
{
    width: 1px;
}

.search-btn
{
    position: relative;
    display: block;
    width: 8%;
    height: 3rem;
    cursor: pointer;
}

.s-circle
{
    position: relative;
    top: -8px;
    left: -20px;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0;
    border-width: 1.5rem;
    border: 0.3rem solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.result-movieNode{
    display: flex;
    width: 100%;
    height: auto;
    padding: 2% 0
}
.result-movie-imageDiv{
    width: 30%
}
.result-movie-image{
    width: 100%
}
.result-movie-textDiv{
    width: 70%;
    padding: 1% 2%
}
/* book node */
.result-bookNode{
    display: flex;
    width: 100%;
    height: auto;
    padding: 2% 0
}
.result-book-imageDiv{
    width: 30%
}
.result-book-image{
    width: 100%
}
.result-book-textDiv{
    width: 70%;
    padding: 1% 2%
}
/*book node*/
.search-btn-span
{
    position: absolute;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.search-btn-span:before, .search-btn-span:after
{
    content: '';
    position: absolute;
    bottom: -2px;
    right: 30px;
    width: 1.2rem;
    height: 0.4rem;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

.s-search:hover .s-circle
{
    top: -1px;
    width: 1.5rem;
    height: .5rem;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

.s-search:hover .search-btn-span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

.s-search:hover .search-btn-span:before
{
    bottom: 9px;
    transform: rotateZ(52deg);
}

.s-search:hover .search-btn-span:after
{
    bottom: -4px;
    transform: rotateZ(-52deg);
}
.s-search:hover .search-btn-span:before, .s-search:hover .search-btn-span:after
{
    right: 60px;
    width: 20px;
    background-color: #fff;
}

@media (min-width: 768px){
  
    .result-section{
        flex-direction: row;
        
    }
    .break-line{
        width: 10px;
        background-color:  #00f;
        min-height: 50vh; 
         margin-top: 2vh;
         margin-bottom: 2vh;
        background-color:  #e16868;
        border-radius: 10px;
    }
  }